@import "variables";


	.primera-pagina{
		margin-top: 10vh;
		height: 90vh !important;

		&__carrusel {
			height: 80vh !important;
			color: $Gris-letrasoft;

		}
	}

.primera-pagina{
	div{
		h2{
			font-size: 1.5rem;
		}
		p{
			font-size: 1rem;
		}
	}

}
.boton{
	&__amarillo{
		   background-color: $Amarillo-botones;
		   width: 100%;
		   font-size: 1.5rem;
		   padding: .5%;
	}
}
.contenedor{
	background-color: red
}
